<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">SkyNet Prediction Analytics</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Current Weather</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'forecast' %}">Weather Forecast</a>
      </li>


    </ul>
    <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'index' %}">
        {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="City, Country Name" aria-label="Search" name="city">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search City</button>
    </form>
  </div>
</nav>

    <div class="container">
        <br>
        {% block content %}

        {% endblock %}

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </div>


</body>
</html>